* {
    font-family: Tahoma, Verdana, Segoe, sans-serif;
    text-align: center;
}

body{
    margin-left: 10%;
    margin-right: 10%;
}

p {
    font-size: 110%;
}

form {
    border: 3px solid green;
    
}

.question {
    margin:5px;
    border: 1px solid grey;
    padding-bottom: 15px;
}

footer{
    margin:25px;
}

img{
    max-width: 50%;
    border: 1px solid green;
    margin-bottom:15px;
}