* {
  text-align: center;
}

body {
  background-color: #d2e4eb;
  font-family:Arial, Helvetica, sans-serif;
}

.header {
  border: 1px solid rgb(170, 170, 170);
  background-color:  #a2d3e6;
  font-style: italic;
}

.title {
  font-size:x-large;
  font-family: "Dancing Script", "Pacifico", cursive;
}


/* This style sheet is taken from  https://www.w3schools.com/howto/howto_js_tabs.asp> */
/* Style the tab */
.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f5e4cf;
}

/* Style the buttons that are used to open the tab content */
.tab button {
  background-color: inherit;
  float: center;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #ccc;
}